#main_contact {
    background: rgb(146 0 3 / 64%);
    padding: 0;
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_contact .footer-menu {
    display: flex;
    justify-content: flex-end;
}

#main_contact .footer-menu span,
#main_contact .footer-social img  {
    padding: 10px;
    cursor: pointer;
}

#main_contact .footer-social img:hover  {
    transform: scale(1.1);
}

#main_contact .footer-menu span:hover  {
    color: aqua;
}

/* 1366 */
@media only screen and (max-width: 1366px) {
	.w1366 {
		max-width: 1200px;
	}

}


/* md */
@media only screen and (max-width: 991px) {



}


/* sm */
@media only screen and (max-width: 768px) {
	

	#main_contact img[alt="logo"] {
		width: 100px;
	}
	#main_contact .footer-menu {
		display: block !important;
	}

}
