<div class="col-sm-12 row text-center footer-container" id="main_contact">
    <div class="col-sm-4">
        <p class="footer-menu">
            <span>+111 222 333</span>
            <span>jacatering@mail.com</span>
        </p>

    </div>
    <div class="col-sm-4">
        <img src="assets/images/logo.png" alt="logo">
    </div>
    <div class="col-sm-4 footer-social">
        <a href="https://facebook.com" target="_blank">
            <img src="assets/images/fb.png" alt="fb">
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="assets/images/ig.png" alt="ig">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="assets/images/twitter.png" alt="twitter">
        </a>
        <a href="https://google.com" target="_blank">
            <img src="assets/images/google.png" alt="google">
        </a>
    </div>
</div>