<!---------------->
<!-- SECTION #1 -->
<!---------------->
<section class="section-container" id="main_banner">
    <div class="section-content">
        <div class="img-container"></div>
        <img src="assets/images/main/cloud_up.png" alt="cloud_up">
        <img src="assets/images/main/cloud_down.png" alt="cloud_down">
    </div>
</section>

<!---------------->
<!-- SECTION #2 -->
<!---------------->
<section class="section-container" id="main_about">
    <div class="section-content w1366">
        <div class="col-sm-12 row text-center">
            <div class="col-sm-6">
                <div class="img-container">
                    <img src="assets/images/main/about.PNG" alt="">
                </div>

            </div>
            <div class="col-sm-6">
                <h4>About Us</h4>
                <p class="about-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iusto placeat blanditiis quam?
                    Praesentium quidem saepe voluptas dolor dolores delectus amet. Soluta a similique minima placeat
                    suscipit quam. Iusto,
                    veniam!<br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iusto placeat blanditiis quam?
                    Praesentium quidem saepe voluptas dolor dolores delectus amet. Soluta a similique minima placeat
                    suscipit quam. Iusto,
                    veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iusto placeat
                    blanditiis quam?
                    Praesentium quidem saepe voluptas dolor dolores delectus amet. Soluta a similique minima placeat
                    suscipit quam. Iusto,
                    veniam!<br><br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Ipsa doloribus dolore, amet ratione ullam voluptatum eius eaque, tenetur totam accusantium omnis
                    voluptatem molestiae cum nam quae. Magnam doloribus explicabo fugit.
                </p>
            </div>
        </div>
    </div>
</section>

<!---------------->
<!-- SECTION #3 -->
<!---------------->
<section class="section-container" id="main_recipes">
    <div class="section-content w1366">
        <h4>Recipes</h4>
        <div *ngFor="let recipe of recipes; even as e">
            <li>{{recipe.name}}</li>
            <div>{{recipe.id}}</div>
        </div>
    </div>
</section>

<!---------------->
<!-- SECTION #4 -->
<!---------------->
<section class="section-container" id="main_services">
    <div class="section-content w1366">
        <h4>Services</h4>
        <p class="section-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia odio justo, a posuere dui rhoncus eu.
            Maecenas ex magna, scelerisque ut euismod eget, fringilla id purus. Phasellus eros odio, molestie eget dui
            a, imperdiet semper ante
        </p>
        <div class="services-container">
            <div class="row col-sm-12">
                <div class="col-sm-4 services-item">
                    <div class="services-content">
                        <div class="img-container">
                            <img class="w100" src="assets/images/main/service1.jpg" alt="Service 1">
                        </div>
                        <div class="services-info">
                            <h5>Food & Beverages</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima adipisci, magnam nostrum
                                odio quam animi</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-item">
                    <div class="services-content">
                        <div class="img-container">
                            <img class="w100" src="assets/images/main/service2.jpg" alt="Service 2">
                        </div>
                        <div class="services-info">
                            <h5>Perfect Atmosphere</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima adipisci, magnam nostrum
                                odio quam animi</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 services-item">
                    <div class="services-content">
                        <div class="img-container">
                            <img class="w100" src="assets/images/main/service3.jpg" alt="Service 3">
                        </div>
                        <div class="services-info">
                            <h5>Full Package</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima adipisci, magnam nostrum
                                odio quam animi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>