/* SECTION 1 */
#main_banner {
  margin-top: -88px;
	min-height: 100vh;
	overflow: hidden;
}
#main_banner > .section-content {
	min-height: 100vh;
	text-align: center;
	padding-top: 125px;
}
/* #main_banner .img-container {
	position: absolute;
	top: 0;
    left: 0;
    z-index: -1;
	width: 100%;
	height: 100%;
  	margin-top: 100px;
	background-image: url('assets/images/main/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
	animation-fill-mode: forwards;
    animation: .8s scaleUp ease; 
    @keyframes scaleUp {
        from, to {overflow: hidden;}
    }
} */
#main_banner > .section-content img[alt="cloud_up"] {
	position: absolute;
	width: 100%;
	height: 246px;
	top: -20px;
	left: 0;
	animation: slideDown .8s ease;
    animation-fill-mode: forwards;
    overflow: hidden !important;
}
#main_banner > .section-content img[alt="cloud_down"] {
	position: absolute;
	width: 100%;
	height: 99px;
	bottom: 0;
	left: 0;
	animation: slideUp .8s ease;
    animation-fill-mode: forwards;
    overflow: hidden !important;
}
/* END SECTION 1 */


/* SECTION 2 */
#main_about {
    background-color: #fff;
    height: 100%;
    position: relative;
    /* top: -25px; */
}
#main_about .section-content {
    padding: 40px 20px;
}
#main_about h4 {
    text-align: center;
    font-family: 'Autumn';
    color: #920003;
    font-size: 46px;
    padding: 20px;
}
#main_about .col-sm-6 {
    align-items: center;
}
#main_about .col-sm-6 .img-container {
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
}
#main_about .col-sm-6 .img-container img {
    width: 400px;
}
#main_about .col-sm-6 .about-desc {
    text-align: justify;
    font-family: 'Lato-light';
}

/* END SECTION 2 */


/* SECTION 3 */
#main_recipes {
    font-family: 'Lato-light';
}
#main_recipes h4 {
    font-family: 'Autumn';
    font-size: 46px;
    color: #920003;
    text-align: center;
}
#main_recipes h5 {
    font-family: 'Autumn';
    font-size: 36px;
    color: #920003;
    text-align: center;
}
#main_recipes .section-desc {
    margin-top: 30px;
    text-align: center;
}
#main_recipes .services-container .row {
	margin: 20px 0;
}
#main_recipes .services-container .row:first-child .services-item:nth-child(2) {
	margin-top: 30px;
}
#main_recipes .services-container .services-item {
	padding: 20px;
}
#main_recipes .services-container .services-item .services-content {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.65);
}
#main_recipes .services-container .services-item .services-content > .img-container {
	position: relative;
	overflow: hidden;
}
#main_recipes .services-container .services-item .services-content > .img-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(transparent, transparent, #fff);
	background-image: -o-linear-gradient(transparent, transparent, #fff);
	background-image: linear-gradient(transparent, transparent, #fff);
}
#main_recipes .services-container .services-item:hover .services-content > .img-container img {
	transform: scale(1.2);
    transition: .5s ease-out;

}
#main_recipes .services-container .services-item:hover .services-content > .img-container::after {
	background-image: none;
}
#main_recipes .services-container .services-item .services-content > .services-info {
	padding: 20px;
	background-color: #fff;
}
/* END SECTION 3 */


/* SECTION 4 */
#main_services {
    font-family: 'Lato-light';
}
#main_services h4 {
    font-family: 'Autumn';
    font-size: 46px;
    color: #920003;
    text-align: center;
}
#main_services {
	background-repeat: no-repeat;
	background-size: cover;
}
#main_services .grid-area {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
	padding: 30px;
}
#main_services .grid-area > .grid-item {
	text-align: center;
	position: relative;
	height: 465px;
	z-index: 1;
}
#main_services .grid-area > .grid-item::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.4;
	background-repeat: no-repeat;
	background-size: cover;
	transition: filter .3s ease;
	filter: saturate(8);
	z-index: -1;
}
#main_services .grid-area > .grid-item:hover::before {
	filter: hue-rotate(206deg) saturate(30);
}
#main_services .grid-area > .grid-item > .img-container {
	padding: 75px;
}
#main_services .grid-area > .grid-item > .img-container > .clip-circle {
	padding: 10px;
  clip-path: circle(60px at center);
}
#main_services .grid-area > .grid-item > .grid-info {
	padding: 0 20px 20px 20px;
}
#main_services .grid-area > .grid-item > .grid-info > .grid-item-title {
	font-size: 30px;
	font-family: "Rounded Bold";
}


#main_services {
	background-color: #ebebeb;
	padding: 60px;
}

#main_services .btn-primary {
	margin: 60px 0 0 0;
}

#main_services .btn-primary {
	background-color: #F16767;
	border: 1px solid #F16767;
}

#main_services .btn-primary:hover {
	background-color: transparent;
	border-color: #F16767;
	border: 1px solid #F16767;
	color: #F16767 !important;
}

#main_services .btn-primary:not(:disabled):not(.disabled):focus,
#main_services .btn-primary:not(:disabled):not(.disabled):active {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: #F16767;
    color: #F16767!important;
}

#main_services .grid-area-content {
	overflow: hidden;
}

#main_services .grid-area-content:hover .img-container::before {
	transition: .5s ease;
	animation:slideInUp .5s ease-in-out 1;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.38), rgb(255, 0, 0))

}
#main_services .grid-area-content:hover .img-desc {
	opacity: 1;
	transform: translate(-50%, -50%);
}

#main_services .img-container {
	position: relative;
}

#main_services .img-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	z-index: 1;
}

#main_services .img-desc {
	position: absolute;
    transform: translate(-50%, -20%);
    left: 50%;
    top: 50%;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    opacity: 0;
    transition: .3s ease;
	z-index: 2;
	font-family: 'Lato-light';
	text-transform: uppercase;
}

/* END SECTION 4 */