/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.w1366 {
    width: 100%;
	max-width: 1366px !important;
    margin: 0 auto;
}

.w100 {
	width: 100% !important;
}


/* Fonts */
@font-face {
	font-family: "Lato-light";
	src: url(assets/fonts/Lato-Light.ttf);
}
@font-face {
	font-family: "Baguette";
	src: url(assets/fonts/Baguette.ttf);
}
@font-face {
	font-family: "Roullasse";
	src: url(/assets/fonts/Roullasse.ttf);
}
@font-face {
	font-family: "Yellow-Ginger";
	src: url(/assets/fonts/Yellow-Ginger.ttf);
}
@font-face {
	font-family: "Autumn";
	src: url(assets/fonts/Autumn.ttf);
}
@font-face {
	font-family: "Henshin";
	src: url(/assets/fonts/Henshin.otf);
}


/* Animation */
@-webkit-keyframes scaleUp {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
@keyframes scaleUp {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
@-webkit-keyframes slideDown {
	from {
		transform: translateY(-60%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes slideDown {
	from {
		transform: translateY(-60%);
	}
	to {
		transform: translateY(0);
	}
}
@-webkit-keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
/* Animation */



app-header {
	/* position: fixed; */
	width: 100%;
	height: 88px;
	display: block;
	background-color: #fff;
	z-index: 20;
}

#main_banner .img-container {
	position: absolute;
	top: 0;
    left: 0;
    z-index: -1;
	width: 100%;
	height: 100%;
  	margin-top: 100px;
	background-image: url('assets/images/main/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
	animation-fill-mode: forwards;
    animation: .8s scaleUp ease; 
    @keyframes scaleUp {
        from, to {overflow: hidden;}
    }
}



/* =================================================== */
/******************** Media Queries ********************/
/* =================================================== */
.sm-show,
.md-show {
	display: none !important;
}


/* 1366 */
@media only screen and (max-width: 1366px) {
	.w1366 {
		max-width: 1200px;
	}
	.sm-show {
		display: none !important;
	}
	.sm-hide {
		display: block !important;
	}

}


/* md */
@media only screen and (max-width: 991px) {



	.md-hide {
		display: none !important;
	}
	.md-show {
		display: block !important;
	}
	.sm-show {
		display: none !important;
	}
}

@media only screen and (max-width: 768px) {
	app-header {
		height: 70px;
	}

	.sm-show {
		display: block !important; 
	}
	.sm-hide {
		display: none !important;
	}
}
/* sm */
@media only screen and (max-width: 475px) {

	

	.sm-hide {
		display: none !important;
	}
	.sm-show {
		display: block !important;
	}
	.md-show {
		display: none !important;
	}
}
